/* font-family: 'Kablammo', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgb(255, 248, 134,0.5), rgb(240, 114, 182,0.5)),url(volunteerism.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}
.form-box{
    width:90%;
    max-width :450px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#f5cda3;
    padding:50px 60px 70px;
    text-align:center;


}
.form-box h1{
    font-weight: bold;
    font-size:30px;
    margin-bottom: 60px;
    color:#ffa600;
    position: relative;
}
.form-box h1::after{
    content:'';
    width: 30px;
    height:4px;
    border-radius:3px;
    background:#ffa600;
    position:absolute;
    bottom:-12px;
    left:50%;
    transform: translateX(-50%);
}
.input-field{
    background:#f4e0bc;
    margin:15px 0;
    border-radius:3px;
    display:flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow:hidden;
}
input{
    width:100%;
    background:transparent;
    border:0;
    outline:0;
    padding:18px 15px;
}
.input-field i{
margin-left:15px;
color:#f4e0bc;
}
form p{
    text-align:left;
    font-size:13px;
    max-height: 65px;

}
form p a{
    text-decoration: none;
    color:#ffa600;
}
.btn-field{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis:48%;
    background:#f4e0bc;
    color:#ffa600;
    height:40px;
    border-radius:20px;
    border:0;
    outline:0;
    cursor:pointer;
    transition: background 1s;
}

.input-group{
    height:280px;
}
.btn-field button.disabled{
    background: #ffa600;
    color: #f5cda3;
}